
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center">Forgot your password?

</h2>
      </div>
      <div class="modal-body">



<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
   <div align="middle">
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"text"%>
  </div>
</div>
  <div class="actions">
  	 <div align="middle">
    <%= f.submit "Send me reset password instructions" ,class:"btn" ,id: "btn"%>
  </div>
</div>
<% end %>

</div>
</div>
</div>
<style type="text/css">
	.btn{
		background: green;

		color: white;
   width: 300px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;


	}
	.text{
   
   width: 300px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
  border: black;
  outline: blue;
 border-bottom: 2px solid blue;
  border-top: 2px solid blue;
   border-left: 2px solid blue;
    border-right: 2px solid blue;
}
</style>