<p id="notice"><%= notice %></p>
 <button class="btn btn-primary" onclick="back()">Back</button>
<div class="row">
   <div class="col-lg-6 col-lg-offset-3 text-center">
<h1 class="center ">Histories</h1>
</div>
</div>
<div class="card">

  <div class="card-body">
                    <!--Table-->
    
   <table class="table table-hover table-sm jumbotron-history">
                        <!--Table head-->
     <thead style="background-color:#C0C0C0;">
       <tr class="text-white">

        
        <th>Word Category</th>
        <th>Word Game Level</th>
        <th>Score</th>
        <th>Time</th>
        <th>Date</th>
        <th colspan="3"></th>
       </tr>
     </thead>

  <tbody>
    <% @histories.each do |history| %>
    <% if current_user.id == history.user_id %>
      <tr>
       
         <td><%= history.word.category %></td>
         <td><%= history.level %></td>
         <td><%= history.score %></td>
         <td><%= history.player_time %></td>
         <td><%= history.created_at.strftime("%b %d, %Y") %></td>
        
  
      
    
    <% end %>

     <% end %>
  </tbody>
</table>
<div class="row">
   <div class="col-lg-6 col-lg-offset-3 text-center">
    <%= will_paginate @histories, list_classes: %w(pagination justify-content-end), previous_label: "PREVIOUS", next_label: "NEXT", inner_window: 1, outer_window: 0 %></div>
</div>
</div>



</div>

<br>
<script type="text/javascript">
  function back(){
    window.location.href = "http://localhost:3000";
  }
</script>
