<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-heading">
        <h2 class="text-center"> <font color="black">Log In to Word Search
</h2> </font>
      </div>
      <div class="modal-body">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

   
  <div class="field">
    <div align="middle">
      
     <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"email",placeholder:"email" %>
  </div>
</div>

  <div class="field">
    <div align="middle">
 
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <div align="middle"> </div>
   <%= f.password_field :password, autocomplete: "current-password" ,class:"password",placeholder:"password"%>

 
</div>
</div>

    <div class="actions ">
     <div align="middle">

   <%= f.submit "LogIn" , class:"btn btn-success btn-lg" ,id:"btn"%>

  </div>
</div>
 <div align="middle">
  <p class="text--center">Not a member? <a href="http://localhost:3000/users/sign_up"> <font color="blue"> Create an account </font></a></p> 
  
    <%= render "devise/shared/links" %>
 </div>
<% end %>

 <hr>
  <div align= "center"> <font color="blue"> Or login in with </font>
</div>
<div class="field">
 <div align="middle">

<div class="div1"> <%= link_to "auth/google_oauth2" do %> <font color="white">Continue With Google</font> <%= image_tag('google.png',width: '40',height: '40') %> <%end%></div>
</div>
</div>
</br>
<div class="field">
      <div align="middle">

  <div class ="div2" >   <%= link_to "auth/google_oauth2" do %> <font color="white">Continue With Edmodo </font><%= image_tag('edmodo.png',width: '40',height: '40') %> <%end%> </div>
  </div>
</div>
      
      <style type="text/css"> 
.div1 {
  background-color: red ;
  width: 300px;
  height: 50px;
  border: 2px solid red;

  box-sizing: border-box;
}
.div2 {
  background-color: blue ;
  width: 300px;
  height: 50px;
  border: 1px solid blue;
  box-sizing: border-box;
}
.btn{
  
  color: white;
   width: 300px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
body {
  color: red;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.email{
   
   
 
  display: flex;
  margin: var(--formFieldMargin);


   width: 300px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
 border: black;
  outline: blue;
 border-bottom: 2px solid blue;
  border-top: 2px solid blue;
   border-left: 2px solid blue;
    border-right: 2px solid blue;
}
.password{
  
  
 
  display: flex;
  margin: var(--formFieldMargin);


   width: 300px;
  height: 50px;
  padding: 16px;
  font-size: 16px;
 border: black;
  outline: blue;
 border-bottom: 2px solid blue;
  border-top: 2px solid blue;
   border-left: 2px solid blue;
    border-right: 2px solid blue;

}



.fas
 {
  font-size:24px;
  color:red;
}
    </style>
</div>
</div>
</div>