<div class="wrap">
<h1 class="logo ">Word search game</h1>
<p id="level_name" class="h1 hide" style="color:blue;"></p>
<p id="level_value" class="hide"></p>
<div id="error">
</div>
<div id="first">
 <%= form_tag('/word') do %>
 <!-- <p id="msg"> To Start Game Please Select Category which you want....!</p><br />  -->
 <div class="alert alert-danger" id="msg">
    <strong>To Start Game Please Select Category which you want....!
    </strong> 
  </div><br /><br /><br /><br/>
 <div id="demo" class="select center-on-page">
 <%= select_tag :category, options_for_select(Word.select(:category).pluck(:category)) , id: "category-select" , prompt: 'Select Category' %>
 </div>
 <% end %>

</div>

</div>
<div class="row hide" id="history">
  <div class="side">
   <h2 class="center" style="text-align: center;">Histories</h2>
   <div class="card">
     <div class="card-body">
      <!--Table-->
    
       <table class="table table-hover table-sm jumbotron-history">
                        <!--Table head-->
       <thead style="background-color:#C0C0C0;">
        <tr class="text-white">

        
         <th>Word Category</th>
         <th>Word Game Level</th>
         <th>Score</th>
         <th>Time</th>
         <th>Date</th>
         <th colspan="3"></th>
        </tr>
       </thead>

  <tbody>
  <% @histories.each do |history| %>
    <% if current_user.id == history.user_id %>
      <tr>
       
         <td><%= history.word.category %></td>
         <td><%= history.level %></td>
         <td><%= history.score %></td>
         <td><%= history.player_time %></td>
         <td><%= history.created_at.strftime("%b %d, %Y") %></td>
      </tr>
    
    <% end %>

     <% end %>
  </tbody>
</table>
</div>
</div>
<br>
</div>

<div class="wrap" id="buttons">
  <p id="category_name" class="h1" style="color:blue;"></p>
  <div id="demo" class="select " style="">

  <select class="select" id="levels" name="levels" required onchange="enableButton()" />
   <option value="" disabled selected>Select Level</option>
   <!--  <option value=""
            hidden>Select Levels</option> -->
    <option value="15">High</option>
    <option value="10">Medium</option>
    <option value="5">Low</option>
    
  </select>
  </div>
 <!--  <br /><br /><br /> -->

  <button onclick="start_game('levels');" class="hide btn btn-lg btn-success" id="start" disabled >Lets Start Game  <span class="glyphicon glyphicon-hand-right"></span></button><br /><br />
  <button onclick="" class="hide btn btn-lg btn-primary" id="help" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-info-sign"></span>  Help</button>
  <br /><br />
  <button onclick="high_score()" class="btn btn-lg btn-primary" id="score" data-toggle="modal" data-target="#high_score"><span class="glyphicon glyphicon-king"></span> High Score</button>
   <!-- <p id="high"> series: <%= @high_scores.to_json %> </p> --><br/><br>
  <br /><br />

  <button onclick="document.location.reload();" class="hide btn btn-lg btn-warning" id="back"><span class="glyphicon glyphicon-hand-left"></span>  Back</button>
 
  </div>


</div>
<div class="wrap"><div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Instructions</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
       1).<br />
       2).
      </div>
      

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

</div>
</div>

<div class="wrap"><div class="modal" id="high_score">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">High Scores</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">

         <div class="card-header tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">High Level</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Medium Level</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Low Level</a>
            </li>
          </ul>
        </div>
         <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
            <h5 class="card-title">High level Scores</h5>
            <p class="card-text">

        <table class="table table-hover table-sm jumbotron-history" id="display">
                        <!--Table head-->
       
</table></p>
                       
          </div>
          <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
            <h5 class="card-title">Medium level Scores</h5>
            <p class="card-text">table</p>
                        
          </div>
          <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
            <h5 class="card-title">Low level Scores</h5>
            <p class="card-text">tables</p>
                         
          </div>

        </div>




      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>

</div>
</div>

<div class="wrap-gride jumbotron hide" id="grid">
  <!-- <div class="hide circle-text" id="timer" ></div>
   <div style=" text-align: right;" class="fixed-top"><a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a></div>
   <div class="hide circle-text" id="timer" ></div> -->
    <p id="category_name" class="h1" style="color:blue;"></p>
 <div class="parent">
  <div class="previous"> <div class="hide circle-text" id="timer" ></div>
</div>
  <div class="next">
   <!--  <div style=" text-align: right;" class="fixed-top"><a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a></div> -->
        <button type="button" class="fixed-top btn btn-warning btn-circle btn-xl" onclick="document.location.reload();"><span class="glyphicon glyphicon-home"></span>
        </button>
       
    </div>
 <button type="button" class=" next-pause btn btn-danger btn-circle btn-xl" onclick="pause()" ><span class="glyphicon glyphicon-pause"></span>  
        </button>
</div>


 <!-- <i class="fas fa-home"></i> -->
       <span id="countdown2" class="hide " ></span> 
      <p id="p1" class="hide"></p>
      <div class="score h3" >Score:<span id="scores"></span></div>
      <section id="ws-area"  ></section>
        
      <ul class="ws-words h3 card card-image" ></ul>

      
   
  </div>

    <script type="text/javascript">
      function enableButton()
      {
      var selectelevel = document.getElementById('levels');
      var level_value=document.getElementById("levels").value
      console.log(level_value)
      var btnelem = document.getElementById('start');
      btnelem.disabled = !selectelevel.value;
      //var e = document.getElementById("nameSelect");
      var level = selectelevel.options[selectelevel.selectedIndex].text;
      document.getElementById("level_name").innerHTML = level
      document.getElementById("level_value").innerHTML = level_value
      // $("#levels").on("change", function() {
      //   var select_level= $(this).val();
      //  document.getElementById("level_name").innerHTML = select_level
      // });

     }
    $(function() {
    $("#category-select").on("change", function() {
      // $(document).ready(function () {
      //   $('#buttons').slideDown('slow', function () {
                
      //       });
      //    });

      var select_val = $(this).val();
      console.log(select_val);
      if (select_val) {
     
       $(this).addClass('hide');
       $("#msg").addClass('hide'); 
       $("#history").removeClass('hide')
       $("#first").addClass('hide')
       $("#start").removeClass('hide')
       $('#back').removeClass('hide')
       $('#help').removeClass('hide')
       $("#score").removeClass('hide')
       $("#levels").removeClass('hide')

         // Put words into `.ws-words`
        $.ajax({
        url:"words/fetch_words",
        type:'GET',
        dataType: "json",
        data: {"select_val" : select_val } , 
        success: function(data){
          gon.words=data.words
          document.getElementById("category_name").innerHTML = select_val
          gon.high_scores=data.scores
          gon.word_id=data.word_id
        
         
         //console.log(gon.s)
        

        },
        error:function(){
          alert("error")
        }
      });


      
     }
   

    });
    
  });
  function start_game() {
     var now = new Date();
     this.flag = false;
     var timeup = now.setSeconds(now.getSeconds() + 60);
     
//var timeup = now.setHours(now.getHours() + 1);
     //alert(score)
    var time_counter = setInterval(function(){
      var now = new Date();
     var count = Math.round((timeup - now)/1000);
     if (now > timeup) {
     // window.location = "/logout"; //or somethin'
     //alert(this.counter)
    //alert("stop")
     //alert(counter)
     //alert(this.solved)
     $(document).ready(function() {
                   swal({ 
                   title: "Ohh.....!",
                   text: "Time Up",
                   type: "info", 
                   },
                   function(){
   
                    document.location.reload();
                   });

     });
     // alert("Time Up")
     
      clearInterval(time_counter);
      window.clearInterval(tm);
     // document.location.reload();

 
     // this.lookup(this.selected);
     

      return;
    }
    var seconds = Math.floor((count%60));
    var minutes = Math.floor((count/60) % 60);
   document.getElementById("timer").innerHTML = minutes + ":" + seconds;
     }, 1000);

    

     this.stop= time_counter;
    alert(gon.word_id)
    // console.log(data.scors)
   let timerInterval
      Swal.fire({
      timer: 2000,
      onBeforeOpen: () => {
      Swal.showLoading()
      timerInterval = setInterval(() => {
        Swal.getContent().querySelector('strong')
        .textContent = Swal.getTimerLeft()
        }, 100)
   },
  onClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  if (
    // Read more about handling dismissals
    result.dismiss === Swal.DismissReason.timer
  ) {
    // console.log('I was closed by the timer')
  var input = {
              year: 0,
              month: 0,
              day: 0,
              hours: 0,
              minutes: 0,
              seconds: 0
          };
          

         var timestamp = new Date(input.year, input.month, input.day,
         input.hours, input.minutes, input.seconds);

         var interval = 1;


        tm=setInterval(function () {
        timestamp = new Date(timestamp.getTime() + interval * 1000);
        document.getElementById('countdown2').innerHTML =  timestamp.getMinutes() + ':' + timestamp.getSeconds() ;
         }, Math.abs(interval) * 1000);
  }
})
          var gameAreaEl = document.getElementById('ws-area');
          var gameobj = gameAreaEl.wordSearch();

        //Put words into `.ws-words`
          var words = gameobj.settings.wordsList,
          wordsWrap = document.querySelector('.ws-words');
          for (i in words) {
            var liEl = document.createElement('li');
            liEl.setAttribute('class', 'ws-word');
            liEl.innerText = words[i];
            wordsWrap.appendChild(liEl);


         

          }

  var player_time = document.getElementById("countdown2").innerHTML;
  var level = document.getElementById("level_name").textContent;
     console.log(player_time)
   $.ajax({
    url: "/histories/", 
    data: { "score": 0 , "player_time": "1:0" ,"level": level }, 
    dataType: "json",
    type: 'POST',
    success: function (data) {

        console.log(data);
        console.log(data.id);

        // alert("created")
        document.getElementById("p1").innerHTML = data.id;
        document.getElementById("scores").innerHTML = 0

     },
        error:function(){

          alert("error");
          
        }
      }); 
   $("#start").addClass('hide')
   $("#back").addClass('hide')
   $("#help").addClass('hide')
   $("#score").addClass('hide')
    $("#timer").removeClass('hide')
    $("#grid").removeClass('hide')
    $("#history").addClass('hide')
     $("#levels").addClass('hide')
     //$("#level_name").removeClass('hide')

}


function pause(){
  //alert("")
  //window.clearInterval(time_counter);
 clearTimeout(time_counter);
  swal({
  title: "Sweet!",
  text: "Here's a custom image.",
  imageUrl: 'thumbs-up.jpg',
  buttonText: "Continue"
});
  
  
}
function high_score(){
  // console.log(gon.word_id)
  // console.log(gon.high_scores)
  $.ajax({
        
        url:"words/high_scores",
        type:'GET',
        dataType: "json",
        data: {"word_id" : gon.word_id } , 
        success: function(data){
          alert("success")
          //console.log(data)
          //alert(data)
          //alert(JSON.stringify(data));
          //var high=JSON.stringify(data)
          //console.log(high)
          // var data=JSON.stringify(data)
           console.log(data)
          $.each(data, function(key, val) {
    var tr=$('<tr>name</tr>');
    $.each(val, function(k, v){
        $('<td>'+v+'</td>').appendTo(tr);
    });
    tr.appendTo('#display');
    //$("#display").html(null)
});




       },
       error:function(){alert("error")
       },
     })

//alert(gon.word_id)

}
// $("body").on("dblclick", "#score", function(event){
//          $("#display").empty();
//      });
</script>

